.school-hours-text {
    width: 60%;
    margin: 0 auto;
    padding: 2rem 0;
    color: #2c3e50;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

@media (max-width: 992px) {
    .school-hours-text {
        width: 80%;
    }
}