form {
  padding: 0.8rem;
}

input {
  width: 100%;
}

.form-row{
  padding: 0 2rem;
}

.form-group {
  padding: 0.8rem;
}

.submit {
  color: #333 !important;
  border: 1px solid;
  border-color: #58746c !important;
}

.submit:hover {
  color: #fff !important;
  background-color: #86b2a6 !important;
}

.button-container {
  padding-left: 3rem;
}

.form-row {
  display: flex !important;
  gap: 15px;
}

.form-group.col-md-6 {
  flex: 1 !important
}

@media (max-width: 991.98px) {
  .button-container {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 10px;
  }
}